html{
    background-color:black
    }
h1{
border:10px;border:dotted;border-color:lightgreen;text-align:center; color:green
}
p{
color:green; font-size:medium;font-size:larger
}
.h2{
text-align:center; color:lightgreen;
}
